body {
    background-color: aqua;
}

h1 {
    background-color: blueviolet;
    color: aquamarine;
    font-size: 24px;
    font-weight: bold;
}

.example {
    font-size: 20px;
    font-family: cursive;
}